<div>
	<p>Los autores de esta aplicacion somos Raquel Higon Galan y David Murillo Ramos</p>
		<b>Fotos de Raquel y david</b><br>
		<image src="foto2.jpg" alt="foto" style="width:100px">
		<image src="foto.jpg" alt="foto" style="width:100px">
</div>